.gree{
    width: 100%;
 padding: 100px;
 
 
 
 &__animation {
     position: relative;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     -webkit-box-reflect: below 2px linear-gradient(transparent, #0005);
 }
 
 }

 .animation{
    &__rgb{
        position: relative;
width: 300px;
height: 300px;
background: linear-gradient(
    45deg,
    $anim 10%,
    transparent 10%,
    transparent 50%,
    $anim 50%,
    $anim 60%,
    transparent 60%,
    transparent 100%);
    background-size: 40px 40px;
    transform: rotate(calc(var(--i) * 90deg));
    animation: animate 0.3s linear infinite;
    }
    @keyframes animate {
        0% {
            background-position: 0;
          }
          100% {
            background-position: 40px;
          }
        }
        @media only screen and (max-width: 768px) {
            .container .box {
              width: 200px;
              height: 200px;
            }
          }
        
}
@media (max-width: 768px) {
    .animation{
      display: none;
    } 
  .gree{
    display: none;
  }
  }