.container {
margin-top: 240px;
    width: 100%;
    max-width: 1280px;
  

    &__hing {
        display: grid;
        justify-content: center;
        padding-bottom: 50px;
        font-size: 2rem;
      
    }

    &__top {

        display: flex;
        padding: 20px;
        justify-content: space-around;

        &__card {

            width: 27%;
            height: 100%;
            background-color: $carding;
            border-radius: 20px;
            box-shadow: 10px 5px 12px greenyellow;
        }
    

    }

}
.card {
    padding: 10px;
    &__hing {
        display: grid;
        justify-content: center;
        padding-bottom: 90px;
        color: $card ;
        
    }
    &__svg{
        display: flex;
        align-items: center;
        gap: 10px;
    }
 

}

.cen {
    
    display: flex;
padding-bottom: 150px;
    justify-content: space-between;
    align-items: center;

    &__span {

        color: $card ;
    }

    &__sp {
        display: flex;
        gap: 4px;

        &__p {
            background-color: $gree;
            border-radius: 6px;
            padding: 4px;

            color: $card ;

        }
    }

}
@media (max-width: 768px) {
    .container{
        display: flex ;
        flex-direction: column;
            align-items: center;

    }
    .container__top{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .container__top__card{
    
       
margin: 20px;

width: 100%;
        height: 100%;
        background-color: $carding;
        border-radius: 20px;
        box-shadow: 10px 5px 12px greenyellow;
    }
    .container__hing{
        display: none;
    }
     }