.footer{
    margin-top: 180px;
   background-color: $carding;
   width: 100%;
   padding: 20px;
   max-width: 138 0px;
   &__alling{

    &__h{
     
        color: $card ;
        margin-bottom: 40px;
        font-size: 20px;
    }
    &__p{
        margin-bottom: 30px;
        color: $card;
    }
    &__phoon{
        
        display: flex;
        gap: 6px;
        align-items: center;
        p{
            color: $card;
        }
    }
    &__email{
       margin-top: 20px;
        display: flex;
        gap: 6px;
        align-items: center;
    }
    p{
        color: $card;
    }
   }
}