.header { 
height: 200vh;
&__all{
   width: 100%;
padding: 100px;



&__animation {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-reflect: below 2px linear-gradient(transparent, #0005);
}

}

&__nav {
    background-color: $nav;
box-shadow: 0px 3px 26px $shadoo;
position: fixed;
width: 100%;
display: flex;
padding: 10px 8px;
justify-content: space-between;
align-items: center;
z-index: 1000;

}

.right{
  &__list{
    display: flex;
    align-items: center;
    gap: 18px;
    list-style-type: none;
  }
}

}
.left{
  display: flex;
  align-items: center;
  gap: 6px;
}

.rightic{
  &__ic{
    display: none;
  }
}
.hing{
  display: none;
 ;
}
.animation{
    &__rgb{
        position: relative;
width: 300px;
height: 300px;
background: linear-gradient(
    45deg,
    $anim 10%,
    transparent 10%,
    transparent 50%,
    $anim 50%,
    $anim 60%,
    transparent 60%,
    transparent 100%);
    background-size: 40px 40px;
    transform: rotate(calc(var(--i) * 90deg));
    animation: animate 0.3s linear infinite;
    }
    @keyframes animate {
        0% {
            background-position: 0;
          }
          100% {
            background-position: 40px;
          }
        }
        @media only screen and (max-width: 768px) {
            .container .box {
              width: 200px;
              height: 200px;
            }
          }
        
}

.jsh {

    display: none;
}

.med{
  display: none;
}
 
@media (max-width: 768px) {
  .animation{
    display: none;
  }
  .left{
 
    &__svg{
      display: none;
    }
   
  }
  .header{
    &__all{
      display: none;
    }
    &__nav{
      position: sticky;
      margin-bottom: 60px;
    }
  }

  .right{
display: none;
  }

  
.rightic{
  &__ic{
    display: flex;
  }
}
.hing{
  display: grid;
  justify-content: center;
}
.med{
  margin-top: 50px;
padding: 8px;
  display: flex;
  gap: 8px;
  width: 100%;
  height: 200px;
  &__im{
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 200px;
    border-radius: 20% 10%;
  }
}
}


